<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="item:showfrequentlyvisited"
                   type="Sitecore.Features.RecentVisit.ShowMostlyVisitedItems, Sitecore.Features.RecentVisit"/>
        </commands>
    </sitecore>
</configuration>